.navbar {
  @apply flex;
  @apply w-full;
  @apply my-6;
  @apply px-6;
  @apply justify-center;
  @apply flex-col;
  place-items: center;
  .links a {
    @apply py-4;
    @apply px-4;
  }

  .logo {
    @apply mb-2;
    font-family: 'Exan', sans-serif;
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 768px) {
  .navbar {
    @apply relative;
    @apply justify-between;
    @apply flex-row;
    .logo{
      @apply flex;
    }

    .links{
      @apply absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@media only screen and (min-width: 1024px) {
}