/* stylelint-disable */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable */
.header,
.sub-header {
  @apply flex;
  @apply justify-center;
  @apply items-center;
  font-family: 'Exan', sans-serif;
}

.header {
  @apply relative;
  min-height: 50vh;
  background: url("./assets/header4.jpg") top;
  background-size: cover;
}

.header > h1 {
  @apply hidden;
}

.header::after {
  @apply absolute;
  @apply h-full;
  @apply w-full;
  @apply flex;
  @apply justify-center;
  @apply items-center;
  content: "Tactus Caelesti";
  background: rgba(0, 0, 0, 0.6);
  font-size: 1.75rem;
}

.sub-header {
  @apply grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  min-height: 100vh;
}

.sub-header > a {
  @apply flex;
  @apply justify-center;
  @apply w-full;
  @apply h-full;
}

.sub-header > a > section {
  @apply flex;
  @apply justify-center;
  @apply w-full;
}

.sub-header > a > section > h2 {
  @apply hidden;
}

.sub-header > a:first-of-type > section {
  @apply relative;
  background: url("./assets/planet.jpg") center;
  @apply bg-cover;
}

.sub-header > a:first-of-type > section::after {
  @apply w-full;
  @apply h-full;
  @apply absolute;
  @apply flex;
  @apply justify-center;
  @apply items-center;
  content: "Planets";
  font-size: 1.5rem;
  background: rgba(0, 0, 0, 0.4);
}

.sub-header > a:last-of-type > section {
  @apply relative;
  background: url("./assets/blackhole.jpg") center;
  @apply bg-cover;
}

.sub-header > a:last-of-type > section::after {
  @apply w-full;
  @apply h-full;
  @apply absolute;
  @apply flex;
  @apply justify-center;
  @apply items-center;
  content: "Blackholes";
  font-size: 1.5rem;
  background: rgba(0, 0, 0, 0.4);
}

@media only screen and (min-width: 768px) {
  .header {
    min-height: 60vh;
  }
  .header::after {
    font-size: 3rem;
  }
  .sub-header {
    @apply grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    min-height: 40vh;
  }
}

@media (hover) {
  .header::after {
    -webkit-transition: all ease-in-out 0.15s;
    transition: all ease-in-out 0.15s;
  }
  .header:hover::after {
    background: rgba(0, 0, 0, 0.2);
  }
  .sub-header > a section h2 {
    @apply hidden;
  }
  .sub-header a:first-of-type section::after {
    background: rgba(0, 0, 0, 0.8);
    -webkit-transition: all ease-in-out 0.15s;
    transition: all ease-in-out 0.15s;
  }
  .sub-header a:last-of-type section::after {
    background: rgba(0, 0, 0, 0.8);
    -webkit-transition: all ease-in-out 0.15s;
    transition: all ease-in-out 0.15s;
  }
  .sub-header a:hover section::after {
    background: rgba(0, 0, 0, 0.3);
  }
}

.list-container {
  @apply grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.list-container .body {
  @apply relative;
  @apply grid;
  @apply w-full;
  aspect-ratio: 1;
  place-items: center;
}

.list-container .body::after {
  @apply w-full;
  @apply h-full;
  @apply absolute;
  @apply flex;
  @apply justify-center;
  @apply items-center;
  content: attr(data-after-content);
  font-size: 1.5rem;
  background: rgba(0, 0, 0, 0.4);
}

@media only screen and (min-width: 480px) {
  .list-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .list-container .body {
    font-size: 1.75rem;
  }
}

@media only screen and (min-width: 768px) {
  .list-container {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .list-container .body {
    font-size: 1.5rem;
  }
}

@media (hover) {
  .list-container .body::after {
    background: rgba(0, 0, 0, 0.8);
    -webkit-transition: all ease-in-out 0.15s;
    transition: all ease-in-out 0.15s;
  }
  .list-container .body:hover::after {
    background: rgba(0, 0, 0, 0.3);
  }
}

.body-details {
  @apply grid;
  place-items: center;
}

.body-details .body-header {
  @apply relative;
  height: 50vh;
  width: 100%;
}

.body-details .body-info h3 {
  @apply py-8;
  font-size: 1.75rem;
}

.body-details .body-info div p {
  @apply my-3;
}

.body-details .body-info .exponent {
  margin-left: 0.125rem;
}

.navbar {
  @apply flex;
  @apply w-full;
  @apply my-6;
  @apply px-6;
  @apply justify-center;
  @apply flex-col;
  place-items: center;
}

.navbar .links a {
  @apply py-4;
  @apply px-4;
}

.navbar .logo {
  @apply mb-2;
  font-family: 'Exan', sans-serif;
  font-size: 1.25rem;
}

@media only screen and (min-width: 768px) {
  .navbar {
    @apply relative;
    @apply justify-between;
    @apply flex-row;
  }
  .navbar .logo {
    @apply flex;
  }
  .navbar .links {
    @apply absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@font-face {
  font-family: Exan;
  src: url("./assets/fonts/Exan-Regular.ttf");
}

body {
  background: #040404;
  color: white;
}
/*# sourceMappingURL=index.css.map */